apiVersion: apps/v1
kind: Deployment
metadata:
  name: etcd
  namespace: train
spec:
  replicas: 1
  selector: { matchLabels: { app: etcd } }
  template:
    metadata: { labels: { app: etcd } }
    spec:
      containers:
      - name: etcd
        image: gcr.io/etcd-development/etcd:v3.5.14
        command: ["/usr/local/bin/etcd"]
        args:
          # do not forget to `kubectl -n train expose deploy/etcd --name etcd --port 2379 --target-port 2379`
          - --advertise-client-urls=http://etcd:2379  # to prevent clients from using IP of themselves
          - --listen-client-urls=http://0.0.0.0:2379
          - --enable-v2=true
          - --logger=zap
          - --log-level=warn
        ports: [ { name: client, containerPort: 2379 } ]
        readinessProbe:
          httpGet: { path: /version, port: client }
          initialDelaySeconds: 2
          periodSeconds: 2
---
apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: train
spec:
  selector: { app: etcd }
  ports: [ { name: client, port: 2379, targetPort: client } ]